body{
    background-image: url('beutifull-lake-view-1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-blend-mode: darken;
    
}
#logo{
    height: 100px;
    width: 220px;
    background-color: white;
    opacity: 84%;
}
#image{
   width: 45px;
   position: relative; top: 3px;

}
img{
    width: 250px;
    position: relative; bottom: 30px;
}
#fHead{
    height: 50px;
    border-radius: 20px;
    background-color: black;
    align-items: center;
    

}
#form{
 
    opacity: 84%;
    width: 40%;
    height: 800px;
    background: #D9D9D9;
    border-radius: 30px;
    
}
li{

    color:black;
    float: left;
    position: relative; left: 30px;
}
form{
    opacity: 1;
}
input{
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    width: 75%;
}
button{
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: 8px;
    padding: 12px;
    width: 30%;
}
form p{
    font-size: 24px;
}
